<!-- Start Footer -->
<footer class="bg-gray-rich p-12 text-center">
    <div class="">
        <h3 class="text-white font-bold text-2xl lg:text-3xl xl:text-5xl py-6">Get for free</h3>
        <div class="flex items-center justify-center my-2 pb-8">
            <a href="#" class="text-black focus:text-gray-700 focus:ring-0 focus-visible:outline-none mx-2"><svg class="w-32 sm:w-44 h-10 sm:h-14"><use xlink:href="img/sprite.svg#appstore"></use></svg></a>
            <a href="#" class="text-black focus:text-gray-700 focus:ring-0 focus-visible:outline-none mx-2"><svg  class="w-32 sm:w-44 h-10 sm:h-14"><use xlink:href="img/sprite.svg#googleplay"></use></svg></a>
        </div>
    </div>
    <div class="border-gray-600 border-t w-full md:w-500 mx-auto"></div>
    <div class="flex flex-col sm:flex-row items-center justify-center pt-10 pb-5">
        <div class="text-gray-100 text-xs sm:mr-10">
            <p>&copy; Little Loft <script>document.write(new Date().getFullYear())</script>. All Rights Reserved.</p>
        </div>
        <div class="flex justify-center items-center mt-4 sm:mt-0">
            <a href="#" class="bg-white hover:bg-yellow-pastel focus:bg-yellow-pastel focus-visible:outline-none rounded-full px-fb py-3 mx-2"><svg class="h-6 w-3 fill-current"><use xlink:href="img/sprite.svg#facebook"></use></svg></a>
            <a href="#" class="bg-white hover:bg-yellow-pastel focus:bg-yellow-pastel focus-visible:outline-none rounded-full px-3 py-3.5 mx-2"><svg class="h-5 w-6 fill-current"><use xlink:href="img/sprite.svg#twitter"></use></svg></a>
            <a href="#" class="bg-white hover:bg-yellow-pastel focus:bg-yellow-pastel focus-visible:outline-none rounded-full p-3 mx-2"><svg class="h-6 w-6 fill-current"><use xlink:href="img/sprite.svg#instagram"></use></svg></a>
        </div>
    </div>
</footer>
<!-- End Footer -->